name: Build and Deploy to Test

on:
  workflow_dispatch:

jobs:
  build_and_deploy_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build and Deploy to Test
        run: npm run build-and-deploy-test
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
